* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page__wrapper{
    width: 80%;
    margin: 0 auto;
}

.btn--primary{
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 35px;
    background-color: #FFDD33;
}

.btn--secondary{
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 35px;
    background-color: #572BD9;
}

.title{
    font-size: 40px;
    text-align: center;
}

.title--default{
    font-size: 45px;
    color: white;
    text-align: center;
}

.text{
    text-align: center;
    font-size: 17px;
    margin: 30px 0px 40px;
}

.txt--default{
    color: white;
    text-align: center;
}

.subtitle{
    margin: 30px 0px 40px;
    color: #7E92AC;
    text-align: center;
}



.background--cub{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url("../img/background.png");
    padding: 50px 0px 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__icon{
    display: flex;
    align-items: center;
}

.header__txt{
    margin: 0px 30px;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__btn{
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #572BD9;
    padding: 15px 35px;
}

.menu__item{
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}

.menu__item--active{
    border-bottom: 3px solid orange;
}

.menu__icon{
    display: none;
    list-style-type: none;
}

.menu__img{
    width: 40px;
    height: 40px;
}

.menu__link{
    text-decoration: none;
    color: white;
}

.dashboard{
    padding: 45px 0px 150px;
    text-align: center;
}

.dashboard__title{
    font-size: 45px;
    color: white;
    text-align: center;
}

.dashboard__txt{
    color: white;
    text-align: center;
    margin: 30px 0px;
}

.dashboard__btn{
    margin: 10px 20px;
}

.cp__img{
    width: 50%;
    position: relative;
    top: 150px;
}

.slider{
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider__img{
    width: 200px;
    height: 70px;
    object-fit: cover;
    margin: 40px 20px;
    opacity: .1;
}

.slider__img--active{
    opacity: 1;
}

.benefits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage{
    width: 29%;
    min-width: 270px;
    box-shadow: 1px 3px 20px 0px #242672;
    padding: 80px 80px 50px;
    margin-top: ma;
    border-radius: 15px;
    margin: 50px 20px;
}

.advantage__heading{
    font-size: 25px;
    margin: 30px 0px;
}

.advantage__txt{
    color: #7E92AC;
    margin: 20px 0px;
}

.structure{
    margin: 150px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.structure--empty{
    box-shadow: 5px 2px 10px 3px #888888;
    border-radius: 20px;
    min-width: 260px;
    width: 45%;
    padding: 200px 0px;
}
.structure-direction{
    min-width: 240px;
    margin: 50px 0px;
    width: 45%;
}

.structure__title{
    font-size: 45px;
}
.structure__txt{
    color: #7E92AC;
    margin: 40px 0px;
}

.banner{
    margin: 120px 0px;
    padding: 120px 10px;
    text-align: center;
}

.banner--top{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(../img/MaskGroup56.png);
}

.banner__title{
    font-size: 45px;
    color: white;
}

.banner__txt{
    color: white;
    margin: 50px 0px;
}

.task{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 200px 0px;
}

.task__title{
    font-size: 45px;
}

.task__txt{
    color: #7E92AC;
}

.task-content{
    width: 40%;
    min-width: 250px;
}

.about-task{
    margin: 50px 0px;
    display: flex;
}

.task__icon{
    width: 40px;
    height: 30px;
    margin-right: 40px;
}

.task__img{
    box-shadow: 5px 2px 10px 3px #888888;
    border-radius: 20px;
    min-width: 260px;
    width:45%;
    padding: 200px 0px;
    margin: 50px 0px;
}

.testimonials{
    margin: 100px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.testimonial{
    margin: 50px 15px;
    width: 25%;
    box-shadow: 5px 2px 9px 3px #888888;
    padding: 0px 20px 50px 20px;
    border-radius: 10px;
    min-width: 300px;
}

.testimonial__heading{
    font-size: 25px;
    margin: 30px 0px;
}

.testimonial__txt{
    color: #7E92AC;
    margin: 50px 0px;
}

.testimonial__img{
    position: relative;
    top: -50px;
}

.switcher{
    display: flex;
    justify-content: center;
    margin: 150px 0px 100px;
}

.switcher__sight{
    border-radius: 50%;
    background-color: #CDDDF3;
    padding: 10px;
    margin: 0px 10px;
}

.switcher__sight--active{
    background-color: #6736F9;
}

.background--star{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 120px 0px;
    padding: 100px 0px;
    background-image: url(../img/MaskGroup58.png);
}

.pricing__title{
    font-size: 45px;
    color: white;
    text-align: center;
}

.pricing__txt{
    color: white;
    margin: 30px 0px 60px;
    text-align: center;
}

.pricing-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: white;
    box-shadow: 0px 0px 9px 0px #888888;
    border-radius: 10px;
    margin: 20px 20px;
    width: 27%;
    padding: 30px 30px;
    text-align: center;
    min-width: 270px;
}

.card__heading{
    font-size: 25px;
    margin: 30px 0px;
}

.card__about-per{
    margin: 20px 0px;
}

.card__price{
    font-size: 60px;
}

.card__belong{
    margin: 35px 0px;
}

.card__list{
    width: fit-content;
    margin: 0 auto;
}

.card__item{
    list-style-type: none;
    display: flex;
}

.card--active{
    background-color: #6837FA;
    color: white;
}

.card__icon{
    width: 50px;
    height: 50px;
}

.card__price{
    font-size: 35px;
    margin: 20px 0px;
}

.card__link{
    text-decoration: none;
    color: #7E92AC;
}

.card__link--active{
    color: white;
}

.card__btn{
    margin-top: 50px;
}

.questions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.question-content{
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 300px;
    margin-top: 40px;
    margin: 20px 40px;
}

.questions__answer{
    margin-top: 45px;
}

.questions__txt{
    margin-top: 20px;
    color: #7E92AC;
}

.message{
    text-align: center;
}

.message__operations{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    width: 30%;
    min-width: 250px;
}

.message__inp{
    padding: 15px 5px;
    margin: 20px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid #c3cce8;
}

.banner--down{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(../img/MaskGroup57.png);
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about-info{
    width: 20%;
    min-width: 250px;
    margin: 30px 20px
}

.info__sources{
    min-width: 200px;
    margin: 30px 20px
}

.info__title{
    margin-bottom: 30px;
}

.info__txt{
    margin-bottom: 40px;
    color: #7E92AC;
}

.info-subscribe{
    margin: 50px;
}

.info__list{
    list-style-type: none;
   
}

.info__item{
    margin-top: 20px;
}

.info__link{
    color: #7E92AC;
    text-decoration: none;
}

.subscribe__icon{
    display: flex;
    margin: 30px 0px;
}

.subscribe__img{
    width: 40px;
    margin: 10px
}

.subscribe__inp{
    padding: 15px 5px;
    margin: 20px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid #c3cce8;
    min-width: 160px;
    width: 50%;
    border-right: none
}

.subscribe__btn{
    position: relative;
    margin-left: -30px;
    padding: 13px 35px;
    top: 2px;
}

.subscribe{
    width: 40%;
    margin: 30px 20px
}

.footer{
    padding: 30px 0px;
    background-color: #5B2AEE;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer__text{
    color: white;
}


@media screen and (max-width:576px){
    .menu__item, .navbar__btn, .header__txt{
        display: none
    }
    .menu__icon{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .cp__img{
        top: 80px;
        width: 250px;
    }
}


@media screen and (max-width: 970px){
    .subscribe__btn{
        margin-left: 0px;
    }
}